body {
    font-family: Consolas, serif;
    background: black;
}

.container {
    width: 1000px;
    margin: 0 auto;
    color: white;
}

#timer-box {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    border: 3px solid yellow;
    padding: 10px;
    border-radius: 10px;
    background: #333333;
}

#timer {
    font-size: 4em;
    color: green;
}

input {
    padding: 10px;
    font-size: 2em;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 20px;
}
